{% extends "admin/base.html" %}
{% load admin_static %}
{% load i18n %}
{% load juman_admin %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/juman.css" %}" />
{% endblock %}

{% block title %}{{ title }} | {% get_current_site_name %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="http://{% get_current_site_domain %}/" title="{% get_current_site_name %}">{% get_current_site_name %}</a></h1>
{% endblock %}

{% block footer %}
<div id="footer">
	<a href="" target="_blank"><img style="height:40px" src="{% static "admin/img/logoBlanco.png" %}" /></a>
	<p>
		<a href="mailto:info@juman-it.com.ar">info@juman-it.com.ar</a> 
	</p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
